/* Style for the authors header section */
.authors-header {
  position: relative; /* Positioning for overlaying content */
  height: 30vh; /* 30% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden; /* Ensures the video doesn’t spill out */
}

/* Background video styling */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure the video covers the width */
  height: 100%; /* Ensure the video covers the height */
  object-fit: cover; /* Makes sure the video fills the section proportionally */
  z-index: -1; /* Places the video behind the text */
}

/* Title styling */
.authors-title {
  font-family: 'Anton', sans-serif;
  font-size: 56px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white; /* Ensure visibility */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  z-index: 1; /* Keeps title above the video */
}

/* Styling for the quotes section */
.quotes-section {
  padding: 40px 20px;
  margin-top: -50px;
  background-color: #fafafa;
  border-radius: 0px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.quotes-container h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Lora', serif;
  text-align: center;
  font-weight: 600;
}

.quotes-container ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.quotes-container li {
  font-family: 'Georgia', serif;
  color: #333;
  font-style: italic;
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.quotes-container li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.quotes-container li::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
}

.quotes-container li p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #555;
  font-family: 'Georgia', serif;
  font-style: italic;
  margin-top: 20px;
  text-align: center;
}

.author-name {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #dba6ae;
  font-weight: 800;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 8px;
}
