<section class="authors-header">
  <video class="bg-video" autoplay muted loop>
    <source src="assets/2.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <h1 class="authors-title">Authors</h1>
</section>

<div class="authors-section">
  <div *ngFor="let author of authors" class="author-card" [ngStyle]="{'background-image': 'url(' + author.image + ')'}">
    <div class="author-info">
      <div class="author-name">{{ author.name }}</div>
      <div class="quote-count">Quotes: {{ author.quoteCount }}</div>
    </div>
  </div>
</div>

